---
import Button from '~/components/ui/Button.astro';
import type { CallToAction } from '~/types';

import backgroundUrl from "/src/assets/images/pexels-michael-steinberg.webp";

export interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  tagline?: string;
  content?: string;
  actions?: string | CallToAction[];
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  actions = await Astro.slots.render('actions'),
} = Astro.props;
---
  <section class="mb-0">
    <div 
    class="px-0 flex overflow-hidden bg-cover relative items-center py-5 md:py-0"
    style=`background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(${backgroundUrl.src});min-height:90vh;background-size:cover;background-position:50%;`
    >
      <span class="bg-cover absolute top-0 left-0 w-full h-full bg-center bg-black opacity-40"></span>
      <div class="mr-auto ml-auto max-w-6xl block z-50">
        <div class="flex flex-wrap mt-0 justify-content-center">
          <div class="col-lg-8 col-sm-9 text-center mx-auto pb-10 md:pb-16 max-w-5xl">
            <h1
              class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-white"
              set:html={title}
            />
            <div class="max-w-3xl mx-auto">
            <p class="mt-4 text-xl md:text-2xl text-white mb-sm-6 mb-4 font-heading" set:html={subtitle}></p>
            {
              actions && (
                <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
                  {Array.isArray(actions) ? (
                    actions.map((action) => (
                      <div class="flex w-auto md:w-full">
                        <Button {...(action || {})} class="sm:mb-0 bg-white w-full max-w-md" />
                      </div>
                    ))
                  ) : (
                    <Fragment set:html={actions} />
                  )}
                </div>
              )
            }
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
