---
import Item from '~/components/strategy/GridItem.astro';
import type { Strategy } from '~/types';

export interface Props {
  strategy: Array<Strategy>;
}

const { strategy } = Astro.props;
---

<div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4 -mb-6">
  {strategy.map((strategy) => <Item strategy={strategy} />)}
</div>
