---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Timeline from '~/components/widgets/Timeline.astro';
import StrategyCard from '~/components/widgets/StrategyCard.astro';

const metadata = {
  title: 'AstroAllocation —  database of tactical asset allocation strategies',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

    
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Strategies',
        href: 'https://github.com/rendenwald/astroallocation',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroAllocation Hero Image' }}
  >
    <Fragment slot="title">
      Helping You find the <span class="text-accent dark:text-white highlight"> Perfect Strategy</span>
      <span class="hidden xl:inline"> Over 50 years history data</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroAllocation</span> is a free database of results for the most popular
        strategies with over 50 years of backtests.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroAllocation: free to use.</span>
       Assisting you in discovering the ideal strategy tailored to your needs and objectives. Whether in business,
      finance, or any other endeavor, we're here to help you find the perfect approach for success.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Click to see our asset allocation strategies"
    subtitle="Unlock your financial potential with our diverse range of investment strategies - seize the opportunity to elevate your wealth journey now!"
    tagline="Strategies"
    items={[
      {
        title: 'Tactical',
        description: "Check the secrets of maximizing returns and minimizing risks with Tactical Asset Allocation (TAA).",
        icon: 'flat-color-icons:engineering',
      },
      {
        title: 'Buy & Hold',
        description:
          "Discover the power of Buy and Hold portfolios - a resilient, long-term investment strategy for enduring financial success.",
        icon: 'flat-color-icons:pie-chart',
      },
      {
        title: 'Most popular',
        description:
          'Explore the most popular investment strategies - a one-stop resource for maximizing returns and navigating the dynamic world of finance.',
        icon: 'flat-color-icons:like',
      },
    ]}
  />
  
  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroAllocation's blog"
    information={`Explore our collection of articles, guides on tactical asset allocation strategies, buy&hold portfolios and many other.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Master the Market"
    title="Invest with confidence!"
    items={[
      {
        title: 'Explore a diverse range of investment options',
        description:
          'Discover our tactical asset allocation strategies and Buy&Hold portfolios. Each one has been developed by experts who have spent years studying market trends.',
      },
      {
        title: 'Backtests for over 50 years!',
        description:
          'Most of strategies are backtested till 1970.',
      },
      {
        title: 'Free full statistics',
        description:
          'Every strategy is delivered with powerful analytics to help you make well-informed decisions.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">We build your financial future</h3>
      Take control of your financial future: Start investing today!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Timeline Widget **************** -->
  <Timeline />

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="AstroAllocation"
    tagline="Check out our strategies right now!"
    actions={[
      { variant: "primary", text: 'Strategies', href: '/strategies/all', icon: 'tabler:assembly', },
      { variant: "secondary", text: 'Blog', href: '/blog', icon: 'tabler:article', }
      ]}
  >
    <Fragment slot="subtitle">
      I'm a Graphic Designer passionate about crafting visual stories. <br /> With 5 years of experience and a degree
      from New York University's School of Design. I infuse vitality into brands and designs, transforming concepts into
      captivating realities.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Users', amount: '132K' },
      { title: 'Portfolios', amount: '30+' },
      { title: 'Years of backtests', amount: '54' },
    ]}
  />
</Layout>
